@mixin gradient($start, $end) {
  background: -webkit-linear-gradient($start, $end);
  background: -moz-linear-gradient($start, $end);
  background: -o-linear-gradient($start, $end);
  background: linear-gradient($start, $end);
}
