footer {
  background-color: $gray-dark-1;
  color: $white;
  overflow: hidden;
  position: relative;
  width: 100%;
  .footer {
    width: 100%;
    .copyright {
      p {
        font-size: $font-size-normal-1;
        text-align: center;
      }
    }
  }
}
