$header-height: $spacing * 2;
header {
  margin-bottom: -1 * $header-height;
  position: relative;
  z-index: 2;
  .header {
    height: $header-height;
    width: 100%;
    .logo {
      height: $header-height;
      float: left;
      padding: $spacing * 0.4;
      width: $header-height;
      img {
        height: 100%;
        width: 100%;
      }
    }
    nav {
      float: right;
      a {
        color: $white;
        display: inline-block;
        font-size: $font-size-normal-1;
        opacity: 0.8;
        padding: ($spacing * 0.5) $spacing;
        &:hover {
          opacity: 1;
        }
      }
    }
  }
}
