$image-size: $spacing * 2;
section.contact {
  background-color: $gray-dark-1;
  @include screen-xs {
    padding-top: $image-size;
  }
  @include screen-sm {
    padding-top: $image-size;
  }
  @include screen-md-min {
    padding-bottom: $image-size * 2;
    padding-top: $image-size * 2;
  }
  .items {
    margin: 0 auto;
    max-width: $width;
    width: 100%;
    @include screen-xs {
      margin-top: $image-size;
    }
    @include screen-sm {
      margin-top: $image-size;
    }
    @include screen-md-min {
      margin-top: $image-size * 2;
    }
    @include outer-container;
    .contact-item {
      @include screen-xs {
        margin-bottom: $image-size;
        @include span-columns(6);
        @include omega(2n);
      }
      @include screen-sm {
        margin-bottom: $image-size;
        @include span-columns(6);
        @include omega(2n);
      }
      @include screen-md-min {
        @include span-columns(2);
        @include omega(6n);
      }
      a {
        display: block;
        height: $image-size;
        margin: 0 auto;
        width: $image-size;
        img {
          height: 100%;
          width: 100%;
        }
      }
    }
  }
  .contact-form {
    @include outer-container;
    padding: 0 $spacing;
    input, a {
      @include appearance(none);
      border: none;
      border-radius: $border-radius;
      font-family: $font-family;
      font-size: $font-size-normal-2;
      line-height: $font-size-normal-2 * 1.5;
      padding: $spacing * 0.75;
      width: 100%;
    }
    .input {
      input {
        color: $gray-dark-1;
        font-weight: $font-weight-normal;
        &:active, &:focus {
          outline: none;
        }
      }
    }
    .button {
      a {
        background-color: $green;
        color: $white;
        display: block;
        font-weight: $font-weight-medium;
        text-align: center;
        &:hover {
          background-color: $green-hover;
          cursor: pointer;
        }
      }
    }
    @include screen-xs {
      .input, .button {
        @include span-columns(12);
      }
      .input {
        margin-bottom: $spacing * 0.5;
        input {
          text-align: center;
        }
      }
    }
    @include screen-sm {
      .input {
        @include span-columns(8);
      }
      .button {
        @include span-columns(4);
      }
    }
    @include screen-md-min {
      .input {
        @include span-columns(9);
      }
      .button {
        @include span-columns(3);
      }
    }
  }
}
