$blue: rgb(119, 158, 203);

$gray-dark-3: rgb(60, 60, 60);
$gray-dark-2: rgb(80, 80, 80);
$gray-dark-1: rgb(100, 100, 100);
$gray-medium-1: rgb(110, 110, 110);
$gray-medium-2: rgb(130, 130, 130);
$gray-medium-3: rgb(150, 150, 150);

$green: rgb(119, 190, 119);

$red: rgb(255, 105, 97);

$white: rgb(255, 255, 255);
