$blue: rgb(119, 158, 203);

$gray-darkest: rgb(60, 60, 60);
$gray-darker: rgb(80, 80, 80);
$gray-dark: rgb(100, 100, 100);

$green: rgb(119, 190, 119);

$red: rgb(255, 105, 97);

$white: rgb(255, 255, 255);
