$font-size-small-1: 12px;
$font-size-small-2: 13px;
$font-size-normal-1: 15px;
$font-size-normal-2: 18px;
$font-size-medium-1: 22px;
$font-size-medium-2: 27px;
$font-size-large-1: 33px;
$font-size-large-2: 41px;
$font-size-larger-1: 49px;
$font-size-larger-2: 61px;

$font-weight-normal: 300;
$font-weight-medium: 400;

$font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
